* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    overflow-x: hidden;
}

#logo:hover {
    font-size: 85px;
    transition: font-size 1s;
}

#logo {
    transition: font-size 1s;
    font-size: 100px;
    background-color: #409452;
    padding: 0px 0px;
    width: 300px;
    height: 100px;
    margin: 40px 0px 20px 100px;
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    transform: rotate(-10deg);
}

#search {
    margin: 20px 40px;
    font-size: 74px;
    font-style: italic;
    border: none;
    border-bottom: 10px solid #409452!important;
    font-weight: bolder;
    text-transform: uppercase;
    color: #ffffff;
    transition: background-color 1s;
    background-color: #ffffff;
}

#search:focus {
    outline: none !important;
    background-color: #40945249;
    transition: background-color 1s;
}

#check {
    font-size: 108px;
    position: absolute;
    left: 168px;
    transform: rotate(6deg);
}

.medo {
    margin-top: 60px;
    background-color: #409452;
    height: 400px;
}

.medo-category {
    text-transform: uppercase;
    width: 100%;
    margin: 0 auto;
    font-style: italic;
    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    transform: rotate(-10deg);
}

.new-media {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
}