/*Color Scheme*/

@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|Syncopate:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    /*Color Scheme*/
    --main-text-color: #f5ef9d;
    --main-green: #409452;
    --mint-green: rgba(171, 232, 198, 1);
    --sub-green: rgba(185, 209, 125, 1);
    --main-red: rgba(137, 88, 104, 1);
    /*alternate scheme, navy gold, green*/
    --navy: #293250;
    --gold: #ffd55a;
    --green: #6dd47e;
}

body {
    background-color: #fffddc;
    text-align: center;
    overflow-x: hidden;
}


/* ---------- Branded styling ---------- */

.medo-style {
    /*font-style: italic;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: -0.1em;*/
    /* transform: rotate(-10deg); */
    color: var(--gold);
}

#logo {
    font-family: 'Syncopate', sans-serif;
    font-size: 60px;
    font-weight: bold;
    background-color: var(--navy);
    padding: 5px;
    width: 275px;
    /*height: 75px;*/
    margin: 40px 0px 20px 100px;
}

.medo-inline {
    font-weight: bold;
    color: var(--gold);
    background-color: var(--navy);
    padding: 5px;
    width: 275px;
    margin: 0px 5px;
    /*height: 75px;*/
}


/*#check {
    font-size: 56px;
    position: absolute;
    left: 167px;
    color: var(--green);
    transform: rotate(4deg);
}*/


/* ---------- Search bar ---------- */

#search {
    margin: 20px 40px;
    padding: 10px;
    font-size: 24px;
    /*font-style: italic;*/
    border: none;
    border-bottom: 6px solid var(--green)!important;
    text-transform: uppercase;
    color: var(--navy);
    transition: background-color 1s;
    background-color: #ffffff;
    text-align: center;
}

#search:active {
    outline: none !important;
    background-color: #9dd6a6;
    transition: background-color 1s;
}

#search::placeholder {
    font-family: 'Raleway', sans-serif;
    color: #40945249;
}


/*#search-btn {
    margin: 20px 40px;
    background-color: var(--navy);
    border: none;
    color: var(--gold);
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    padding: 0px;
    transition: background-color 0.5s, color 0.25s, border 0.5s;
}*/

#search-btn:focus {
    background-color: var(--gold);
    color: var(--navy);
    border: 3px solid var(--green);
    transition: background-color 0.5s, color 0.25s, border 0.5s;
}


/* ---------- Medo boxes ---------- */

.medo {
    width: 100%;
    margin-top: 60px;
    background-color: var(--navy);
    font-size: 56px;
}

.medo-box {
    width: 100%;
    font-size: inherit;
}

.new-media {
    width: 100%;
    color: var(--navy);
    background-color: var(--gold);
    border: solid 1.5px var(--green);
    border-bottom: solid 3px var(--green);
    border-top: none;
    font-size: 20px;
    font-weight: 200;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer {
    border-top: solid 4px var(--gold);
    font-size: 10px;
    background-color: var(--navy);
    color: var(--green);
}

@media screen and (max-width: 1068px) {
    #search {
        font-size: 48px;
    }
}


/*Hover.css Transitions*/


/*Hover.css Transitions*/


/*Hover.css Transitions*/


/*Hover.css Transitions*/


/*Hover.css Transitions*/


/* Ripple In */

@-webkit-keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

.hvr-ripple-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.hvr-ripple-in:before {
    content: '';
    position: absolute;
    border: var(--green) solid 4px;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
}

.hvr-ripple-in:hover:before,
.hvr-ripple-in:focus:before,
.hvr-ripple-in:active:before {
    -webkit-animation-name: hvr-ripple-in;
    animation-name: hvr-ripple-in;
}


/* Float Shadow */

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, var(--green) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/* Shutter Out Vertical */

.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #ffffff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--gold);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-vertical:hover,
.hvr-shutter-out-vertical:focus,
.hvr-shutter-out-vertical:active {
    color: var(--green);
    font-style: italic;
    font-weight: 400;
    transition: color, .7s;
    transition: font-style, .3s;
}

.hvr-shutter-out-vertical:hover:before,
.hvr-shutter-out-vertical:focus:before,
.hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}