* {
    margin: 0;
    padding: 0;
    --main-text-color: #f5ef9d;
    --main-green: #409452;
}

body {
    background-color: #ffffff;
    text-align: center;
    overflow-x: hidden;
}

/* ---------- Branded styling ---------- */
.medo-style {
    font-style: italic;
    text-transform: uppercase;
    letter-spacing: -0.1em;
    /* transform: rotate(-10deg); */
    color: var(--main-text-color);
}

#logo {
    font-size: 100px;
    background-color: var(--main-green);
    padding: 0px 0px;
    width: 300px;
    height: 100px;
    margin: 40px 0px 20px 100px;
}

/* #check {
    font-size: 107px;
    position: absolute;
    left: 167px;
    color: var(--main-text-color);
    transform: rotate(4deg);
} */

/* ---------- Search bar ---------- */
#search {
    margin: 20px 40px;
    font-size: 60px;
    font-style: italic;
    border: none;
    border-bottom: 10px solid var(--main-green)!important;
    font-weight: bolder;
    text-transform: uppercase;
    color: var(--main-green);
    transition: background-color 1s;
    background-color: #ffffff;
    text-align: center;
}

#search:active {
    outline: none !important;
    background-color: #40945249;
    transition: background-color 1s;
}

#search::placeholder {
    color: #40945249;
}

#search-btn {
    margin: 20px 40px;
    background-color: var(--main-green);
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 42px;
    font-weight: bold;
    padding: 0px;
    transition: background-color 0.5s, color 0.25s, border 0.5s;
}

#search-btn:hover {
    background-color: var(--main-text-color);
    color: var(--main-green);
    border: 3px solid var(--main-green);
    transition: background-color 0.5s, color 0.25s, border 0.5s;
}

/* ---------- Medo boxes ---------- */
.medo {
    margin-top: 60px;
    background-color: var(--main-green);
    font-size: 60px;
}

.medo-box {
    width: 100%;
    font-size: inherit;
}

.medo-item {
    font-size: 20px;
}

@media screen and (max-width: 1068px) {
    #search {
        font-size: 48px;
    }
}