@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|Syncopate:400,700&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    /*Color Scheme*/
    --main-text-color: #f5ef9d;
    --main-green: #409452;
    --mint-green: rgba(171, 232, 198, 1);
    --sub-green: rgba(185, 209, 125, 1);
    --main-red: rgba(137, 88, 104, 1);
    /*alternate scheme, navy gold, green*/
    --navy: #293250;
    --blue: #210070;
    --gold: #ffd55a;
    --green: #6dd47e;
}

body {
    background-color: #fffddc;
    text-align: center;
    overflow-x: hidden;
}

.custom-control-label{
    font-size: 40px;
    color: green;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 19px;
}


/* ---------- Branded styling ---------- */

.medo-style {
    /*font-style: italic;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: -0.1em;*/
    /* transform: rotate(-10deg); */
    color: var(--gold);
}

#logo {
    font-family: 'Syncopate', sans-serif;
    font-size: 60px;
    font-weight: bold;
    background-color: var(--blue);
    padding: 5px;
    width: 275px;
    /*height: 75px;*/
    margin: 40px 0px 20px 100px;
}

.medo-inline {
    font-family: 'Syncopate', sans-serif;
    font-weight: bold;
    color: var(--gold);
    background-color: var(--blue);
    padding: 5px;
    margin: 0px 5px;
    /*height: 75px;*/
}


/*#check {
    font-size: 56px;
    position: absolute;
    left: 167px;
    color: var(--green);
    transform: rotate(4deg);
}*/


/* ---------- Search bar ---------- */

#search {
    margin: 20px 40px;
    padding: 10px;
    font-size: 60px;
    border: none;
    border-bottom: 10px solid var(--blue)!important;
    text-transform: uppercase;
    color: var(--navy);
    transition: background-color 1s;
    background-color: transparent;
    text-align: center;
}

#search:focus {
    outline: none !important;
    /* background-color: #ffffff; */
    transition: background-color 1s;
}

#search::placeholder {
    font-family: 'Raleway', sans-serif;
    color: #2932506c;
}

#search-btn:focus {
    background-color: var(--gold);
    color: var(--navy);
    border: 3px solid var(--navy);
    transition: background-color 0.5s, color 0.25s, border 0.5s;
}

.instruct-paragraph {
    letter-spacing: 0.05em;
    line-height: 2em;
}


/* ---------- Medo boxes ---------- */

.medo {
    width: 100%;
    margin-top: 60px;
    background-color: var(--blue);
    font-size: 56px;
}

.medo-box {
    width: 100%;
    font-size: 40px;
    cursor: pointer;
    letter-spacing: 0.1em;
}

#movie-medo, #music-medo, #favorites-list {
    overflow-y: scroll;
    background-color: transparent;
    height: 200px;
    box-shadow: 10px 0px 28px -10px rgba(0,0,0,0.75);
    background-color: #ffffff;
}

::-webkit-scrollbar {
    display: none;
}

.favorites-btn {
    letter-spacing: 0.05em;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: var(--blue) !important;
    opacity: 0.7;
}

.favorites-btn:focus {
    outline: none;
}

#favorites-list {
    height: 400px;
}

.custom-bg {
    background-color: transparent;
    border: none;
}

/* MODAL STYLING */

#band-name, #movie-title {
    text-transform: uppercase;
    color: var(--blue);
    font-size: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid var(--gold);
}

.middle-content h4 {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

#release-date {
    text-transform: uppercase;
    margin-top: -15px;
    color: var(--blue);
    font-size: 32px;
    font-weight: normal !important;
}

#movie-summary {
    font-size: 18px;
    text-align: left;
}

#youtube-content {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

footer {
    border-top: solid 4px var(--gold);
    background-color: transparent;
    color: var(--blue);
    width: 100%;
    height: 100px;
    position: relative;
    bottom: 0;
    left: 0px;
    
}

.watch-tag {
    color: blue;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.listen-tag {
    color: green;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
}

.custom-modal {
    padding: 50px;
}

#band-image {
    text-align: center;
    margin: 0 auto;
}

ul {
    width: 100%;
}

li {
    list-style: none;
    width: 100%;
    cursor: pointer;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 0.1em;    
}

button {
    background-color: transparent;
    border: none;
    color: var(--blue);
    position: relative;
}

.remove, .like {
    text-align: right;
}

#rec-message {
    margin-top: 50px;
    letter-spacing: 0.05em;
}

#recommended {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.recommendations {
    margin: 25px;
    font-size: 30px;
    cursor: pointer;
    color: var(--blue);
    text-shadow: 5px 5px 7px rgba(0,0,0,0.20);
}

.recommendations:hover {
    transform: scale(1.5);
}

/* Youtube videos */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* .page-load-items {
    opacity: 1;
    transition: opacity 2s;
} */

/*Hover.css Transitions*/


/* Ripple In */

@-webkit-keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

@keyframes hvr-ripple-in {
    100% {
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 1;
    }
}

.hvr-ripple-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
}

.hvr-ripple-in:before {
    content: '';
    position: absolute;
    border: var(--green) solid 4px;
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
    -webkit-animation-duration: 2s;
    animation-duration: 1s;
}

.hvr-ripple-in:hover:before,
.hvr-ripple-in:focus:before,
.hvr-ripple-in:active:before {
    -webkit-animation-name: hvr-ripple-in;
    animation-name: hvr-ripple-in;
}


/* Float Shadow */

.hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 80%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0) 80%);
    /* W3C */
    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
}

.hvr-float-shadow:hover,
.hvr-float-shadow:focus,
.hvr-float-shadow:active {
    -webkit-transform: translateY(-7px);
    transform: translateY(-7px);
    /* move the element up by 5px */
}

.hvr-float-shadow:hover:before,
.hvr-float-shadow:focus:before,
.hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}


/* Shutter Out Vertical */

.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: #ffffff;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--gold);
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-shutter-out-vertical:hover,
.hvr-shutter-out-vertical:focus,
.hvr-shutter-out-vertical:active {
    color: var(--navy);
    font-style: italic;
    font-weight: 400;
    transition: color, .2s;
    transition: font-style, .2s;
    transition: font-weight, .2s;
}

.hvr-shutter-out-vertical:hover:before,
.hvr-shutter-out-vertical:focus:before,
.hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
}